<h1>Client list for $stylist.getStylist()</h1>
<br>



<form action="/stylists/$stylist.getId()" method="post">
  <label>Add a new client for $stylist.getStylist():</label><br>
  <input type="text" name="newClient"><br><br>
  <button type="submit" class="btn btn-info">Add client</button>
</form>
